@media (max-width: 575.98px) {
	
}

@media (min-width: 576px) and (max-width: 767.98px){
	.texto-direita{
		text-align: center;
	}

	.texto-esq{
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991.98px){
	.texto-direita{
		text-align: right;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px){
	.texto-direita{
		text-align: right;
	}
}


@media (min-width: 1200px){
	.texto-direita{
		text-align: right;
	}
}



