body{
	background-color: #b1b0b0;
	padding: 0;
	margin: 0;
}



#mapa{
	width: 100%;
}

section{
	font-size: 1.2em;
	font-family: "Gill Sans", sans-serif;;

}

.txt_destaque{
	color: #4152c0;
}

#espaco_top{
	margin-top: 10px;
}

#img-logo{
	width: 6%;
}


a {
	color: aliceblue;
}

.centro{
	text-align: center;
}

.txt-classico{
	font-size: 1.1em;
}


.div-esquerda {
	width: 50%;
	float: left;
 }

 .div-direita {
	text-align: center;
	float: right;
	width: 50%;
}

.cor_teste{
	background:#4f758a;
}

footer{
	background:#4f758a;
/*	background: #2c2c2c; */
	padding: 50px 0px 20px 0px;
	position: relative;
}


  /* Pagina Cadastro */


  form{
	margin-top: 20%;
  }

  label{
	font-size: 1.3em;
  }

  .btn-logar{
	letter-spacing: 1.7px;
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 43%;
  }


  /* Media Queries  */


  @media (max-width: 575.98px) {
	#img-logo{
		width: 10%;
	}

	
	
}

@media (min-width: 576px) and (max-width: 767.98px){
	
	
}

@media (min-width: 768px) and (max-width: 991.98px){
	
}

@media (min-width: 992px) and (max-width: 1199.98px){
	#img-logo{
		width: 5%;
	}

	
}


@media (min-width: 1200px){
	#img-logo{
		width: 3%;
	}

	.tamanho-form{
		width: 50%;
		
	}

	  .txt-classico{
		font-size: 1.2em;
	}

	#img-pgprincipal{
		width: 40%;
		margin-left: 30px;
	}

	#img-inc-sec{
		width: 90%;
		margin-left: 30px;
	}
	 
}

 



